langchain
langchain-core
langgraph
python-dotenv
rich
pydantic
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langchain-ollama
streamlit
fastapi
uvicorn
psutil
python-docx
faster-whisper
pyannote.audio
reportlab
